@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CMO-CMISD, New City Hall Bldg, Santa Monica<br />
    Puerto Princesa City, Palawan 5300<br />
    <abbr title="Phone">P:</abbr>
    +63-048-7178080
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cmisd@puertoprincesa.ph">cmisd@puertoprincesa.ph</a><br />
    <strong>Marketing:</strong> <a href=""></a>
</address>